<mat-card [class.small-screen]="!!smallScreen">
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header-data">
      <div class="name">
        {{owner.Name}}
      </div>
      <div>
        {{owner.CountingScore}}
      </div>
    </div>

    <table mat-table class="full-width-table"  matSort aria-label="Elements" [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <a [href]="row.Link" target="_blank">{{row.Name}} </a><span class="age">{{row.Age}}</span>
            </div>
            <div> 
              <a class="no-stats" href="https://google.com/search?q={{row.Name}}&tbm=nws" target="_blank"> <mat-icon class="search">feed</mat-icon> </a>     
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef>Pos</th>
        <td mat-cell *matCellDef="let row">{{row.Position | uppercase}}</td>
      </ng-container>

      <!-- Score Column -->
      <ng-container matColumnDef="Score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let row">{{row.Score | number:'1.2-2'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.counts]="row.Scoring"></tr>
    </table>
  </mat-card-content>
</mat-card>
<br />

