<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <div style="padding: 10px;">
      <mat-form-field appearance="standard" class="year-chooser">
        <mat-select  [(value)]="Year" disabled="false" (valueChange)="loadFile()">
          <ng-container *ngFor="let y of Years">
            <mat-option value="{{y}}">{{y}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field appearance="standard" class="year-chooser">
        <mat-select  [(value)]="YearType" disabled="false"  (valueChange)="loadFile()">
          <mat-option value="Regular">Regular</mat-option>
          <mat-option value="Post">Post</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-nav-list>
      <a mat-list-item  routerLink="leaderboard">Leaderboard</a>
      <a mat-list-item routerLink="stats">Stats</a>
      <a mat-list-item routerLink="totals">Totals</a>
      <a mat-list-item routerLink="analytics">Analytics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NFL Lifetime {{Year}} </span>
    </mat-toolbar>

    <div class="main">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
